__pycache__/
*.pyc
outputs/
models/*.joblib
models/*.pkl
models/*.pt
models/*.pth
data/
database/data*/real/*
database/data*/fake/*
!database/data*/.gitkeep
!database/data*/real/.gitkeep
!database/data*/fake/.gitkeep
fusion_lr/models/*
!fusion_lr/models/.gitkeep
deep_cnn/models/*
!deep_cnn/models/.gitkeep
cross_gen_test/real/*
cross_gen_test/stylegan3/*
cross_gen_test/sdxl/*
cross_gen_test/midjourney/*
cross_gen_test/dalle3/*
!cross_gen_test/*/.gitkeep
